.header {
  margin: auto;
  padding: 2rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 2;
  height: 8rem;
}

.header a {
  padding: 2rem;
  font-size: 4rem;
  font-weight: 800;
  text-decoration: none;
  color: #212529;
  color: #800000;
  display: block;
  max-width: 24rem;
  width: 100%;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.menu {
  display: none;
  width: 4rem;
  height: 4rem;
}

@media (max-width: 52em) {
  .menu {
    display: block;
  }
  .nav {
    position: absolute;
    top: 8rem;
    background-color: rgba(255, 255, 255, 0.8);
    justify-content: center;
    left: 0;
    right: 0;
    display: none;
  }

  .display {
    display: block;
  }
}

@media (max-width: 37em) {
  .header a {
    font-size: 2.4rem;
  }
}
